{
 "Author": "Doğukan Çağatay",
 "Website": "https://dogukancagatay.com/",
 "Artifacts": "https://vagrantcloud.com/dcagatay/",
 "Repository": "https://github.com/dogukancagatay/fedora-boxes-aarch64/",
 "Description": "Vagrant boxes for Fedora aarch64/arm64 of Parallels provider",
 "Version": "$BOX_VERSION",
 "Build-Name": "$PACKER_BUILD_NAME"
}
